@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.center{
  text-align: center;
  margin: 0;
  padding: 0;
}

.header{
  background-color: blueviolet;
  color: antiquewhite;
}

.input-btn{
  background-color: #ffff;
  width: 50%;
  height: 50px;
  text-align: right;
}

.buttons{
  margin: auto;
  padding: 5px;
  width: 50%;
  
}

.num-button{
  margin: 5px;
  padding: 25px;
}

.spl-btn{
  width: 45%;

}